@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.card-container {
  width: 380px;
  height: 240px;
  max-width: 400px;
  box-shadow: -1px 2px 38px 10px rgba(78, 77, 77, 0.81);
  border-radius: 15px;
  position: relative;
  top: 75px;
  padding: 1em 1.2em;
  display: flex;
  flex-direction: column;
  background: rgb(3, 2, 28);
  background: linear-gradient(
    142deg,
    rgba(3, 2, 28, 1) 0%,
    rgba(2, 0, 28, 1) 1%,
    rgba(51, 5, 13, 1) 20%,
    rgba(18, 11, 122, 1) 64%,
    rgba(84, 12, 27, 1) 83%,
    rgba(6, 14, 37, 1) 98%,
    rgba(16, 41, 107, 1) 100%
  );
  color: #fff;
  font-family: 'Inconsolata', monospace;

  & .card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6em 0 0;

    & .chip-img {
      width: 75px;
      opacity: 0.85;
    }

    & .fab {
      font-size: 3.2rem;
    }
  }

  & .card-middle {
    font-size: 1.55rem;
    padding: 0.1em 0 0.1em 0.5em;
    font-weight: 700;
    margin: 0.8em 0 0.6em 0;
    letter-spacing: 2px;
    width: 320px;

    &.selected {
      border: 1px solid #e4e1e1;
      border-radius: 5px;
    }
  }

  & .card-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin: 0.5em 0.5em 0;
    font-weight: 600;
    letter-spacing: 0.1em;

    & .card-holder {
      width: 270px;
      padding: 0.2em 0.5em;

      &.selected {
        border: 1px solid #e4e1e1;
        border-radius: 5px;
      }

      &::before {
        content: 'Card Holder';
        font-size: 0.8rem;
        color: rgb(189, 190, 192);
        display: block;
      }
    }

    & .card-date {
      width: 80px;
      padding: 0.2em 0.5em;

      &.selected {
        border: 1px solid #e4e1e1;
        border-radius: 5px;
      }

      &::before {
        content: 'Expire';
        font-size: 0.8rem;
        color: rgb(189, 190, 192);
        display: block;
      }
    }
  }
}
