@include mediaMd {
  .form-container {
    width: 90%;

    & .form-row {
      & #year {
        margin-top: -30px;
      }
    }
  }
}

@include mediaSm {
  .form-container {
    width: 85%;
    font-size: 0.9rem;
    padding: 7.2em 2em 2em 2em;

    & .form-row {
      & #month {
        font-size: 0.9rem;
      }

      & #year {
        font-size: 0.9rem;
        margin-top: -30px;
      }
    }

    input,
    #month,
    #year {
      height: 2.8em;
      margin-bottom: 0.1em;
    }
  }

  .card-container {
    max-width: 70%;
    height: 195px;

    & .card-front {
      margin: 0;
      padding: 0;
      width: 100%;

      & .card-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5em;
        padding-bottom: 0;
        padding-right: 1.5em;

        & .chip-img {
          width: 70px;
        }

        & .fab {
          font-size: 3rem;
        }
      }

      & .card-middle {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0.5em 0 0.1em 0.5em;
        letter-spacing: 1px;
        width: 245px;
      }

      & .card-bottom {
        font-size: 0.95rem;
        margin: 1em 0.5em 0;
        font-weight: 600;
        letter-spacing: 0.1em;

        & .card-holder::before {
          content: 'Card Holder';
          font-size: 0.75rem;
          color: rgb(189, 190, 192);
          display: block;
        }

        & .card-date::before {
          content: 'Expire';
          font-size: 0.75rem;
          color: rgb(189, 190, 192);
          display: block;
        }
      }
    }

    & .card-back {
      & .card-band {
        height: 35px;
        margin-bottom: 1.8em;
        margin-top: 1.5em;
      }

      & .card-cvv {
        width: 88%;
        height: 30px;
        margin-left: 1.2em;
        margin-bottom: 0.5em;
        font-size: 1.1rem;
        padding-right: 0.3em;

        &::after {
          content: 'CVV';
          display: block;
          text-align: right;
          color: white;
          font-size: 0.9rem;
          position: absolute;
          top: -20px;
          left: 90%;
        }
      }

      & .franchise-back {
        font-size: 3rem;
        align-self: flex-end;
        padding-right: 0.3em;
        text-align: right;
      }
    }
  }
}

@include mediaXSm {
  .form-container {
    width: 90%;
    font-size: 0.9rem;

    & .form-row {
      & #month {
        font-size: 0.9rem;
      }

      & #year {
        font-size: 0.9rem;
        margin-top: -30px;
      }
    }

    input,
    #month,
    #year {
      height: 3em;
      margin-bottom: 1em;
    }
  }

  .card-container {
    max-width: 70%;
    height: 195px;

    & .card-front {
      margin: 0;
      padding: 0;
      width: 100%;

      & .card-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5em;
        padding-bottom: 0;
        padding-right: 1.5em;

        & .chip-img {
          width: 70px;
        }

        & .fab {
          font-size: 3rem;
        }
      }

      & .card-middle {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0.5em 0 0.1em 0.5em;
        letter-spacing: 1px;
        width: 210px;
      }

      & .card-bottom {
        font-size: 0.95rem;
        margin: 1em 0.5em 0;
        font-weight: 600;
        letter-spacing: 0.1em;

        & .card-holder::before {
          content: 'Card Holder';
          font-size: 0.75rem;
          color: rgb(189, 190, 192);
          display: block;
        }

        & .card-date::before {
          content: 'Expire';
          font-size: 0.75rem;
          color: rgb(189, 190, 192);
          display: block;
        }
      }
    }

    & .card-back {
      & .card-band {
        height: 35px;
        margin-bottom: 1.8em;
        margin-top: 1.5em;
      }

      & .card-cvv {
        width: 85%;
        height: 30px;
        margin-left: 1.2em;
        margin-bottom: 0.5em;
        font-size: 1rem;
        padding-right: 0.3em;

        &::after {
          content: 'CVV';
          display: block;
          text-align: right;
          color: white;
          font-size: 0.9rem;
          position: absolute;
          top: -20px;
          left: 90%;
        }
      }

      & .franchise-back {
        font-size: 2.6rem;
        align-self: flex-end;
        padding-right: 0.4em;
        text-align: right;
      }
    }
  }
}
